.done-navi {
	width: 250px;
	position: fixed;
	//height: 100%;
	left: 0px;
	top: 20px;

	.done-header, .done-greetings {
		line-height: 1.4em;
		padding: 20px;
		width: auto;
		min-width: auto;
		margin: 0;

	}

	&__item {
		padding: 10px 20px;
		width: 100%;
		border-bottom: 1px solid $c-main-separator;

		font-size: 110%;

		cursor: pointer;

		&:hover {
			background-color: #ffffff;
		}

		&_active {
			color: #ffffff;
			background-color: $c-main-blue;

			&:hover {
				background-color: $c-main-blue;
			}
		}
	}

	.done-form {
		margin-top: 40px;
		padding: 20px;

		background-color: $c-main-separator;

		&__box {
			flex-wrap: wrap;
		}

		&__field {
			display: block;
			width: 100%;
		}
	}
}