use('../../../nemo/node_modules/stylobuild', {
	autoprefixer: { browsers: "last 2 version, Explorer >=8"},
	csso: true,
	pixrem: false
});

@import 'normalize.css';

$c-main-text = rgba(80, 80, 80, 1);
$c-main-separator = rgba(220, 220, 220, .5);
$c-main-blue = rgba(50, 150, 200, 1);
$c-main-green = rgba(50, 200, 150, 1);

@import "common/done-button.styl";

@import "blocks/done-task.styl";

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	//font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	line-height: 15px;
	font-size: 12px;
	/*background-image: url(../img/bg-1.jpg);*/
	background-color: rgba(230,230,230,.20);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	//background: rgba(250, 250, 250, 1);
	color: $c-main-text;
	min-width: 320px;
	overflow-y: scroll;
}

a {
	color: $c-main-text;
	text-decoration: none;
}

.done-layout {
	//display: flex;
	padding-left: 250px;
}

.done-border {
	//border: 8px $c-main-blue solid;
	border: 1vw #ffffff solid;
	//border-top: 1vmin lighten(rgba(0, 160, 200, 1), 10 ) solid;
	//border-bottom: 1vmin rgba(0, 160, 200, 1) solid;
	//background-image: linear-gradient(to bottom, lighten(rgba(0, 160, 200, 1), 10 ) 0%,rgba(0, 160, 200, 1) 100%), linear-gradient(to bottom, lighten(rgba(0, 160, 200, 1), 10 ) 0%,rgba(0, 160, 200, 1) 100%);
	//background-position: 0 0, 100% 0;
	//background-repeat: no-repeat;
	//background-size: 1vmin 100%;
	min-height: 100vh;
}

.done-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 80px;
	//min-width: 400px;
	max-width: 1600px;
	//добавил для адаптивности границы (новое)
	overflow: hidden;

	@media (max-width: 800px) {
		padding: 0 10px;
	}
}



.done-block {
	width: 100%;
	min-height: 100px;
	//border: 1px solid red;
	//padding: 10px 0 20px;
	position: relative;

	margin: 20px auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	&__logical {
		display: none;

		&:first-child {
			display: block;
		}
	}

	&__not__find{
		color:#fff;
	}

	&__header {
		margin: 20px 0px 20px 20px;
		opacity: .5;
		font-size: 120%;
	}

	&::before {
		position: absolute;
		top: -15px;
		left: 10px;
		padding: 5px 20px;
		border-radius: 4px;
		font-weight: 800;
	}

	&_todo {

		/*&::before {
			content: 'TODO';
			background-color: #d2d2d2;
		}*/

	}

	&_sprint {
		/*&::before {
			content: 'Sprint';
			background-color: rgba(51, 204, 255, 1);
		}*/

		.done-task {
			background-color: rgba(51, 204, 255, .1);
		}
	}

	&_testing {
		/*&::before {
			content: 'Testing in progress';
			background-color: rgba(255, 153, 102, 1);
		}*/

		.done-task {
			background-color: rgba(255, 153, 102, .1);
		}
	}

	&_done {
		/*&::before {
			content: 'Done';
			background-color: rgba(0, 204, 102, 1);
		}*/

		.done-task {
			background-color: rgba(0, 204, 0, .1);
		}
	}

}

.done-loading {
	min-height: 283px;
	width: 100%;

	background-image: url(../img/loading__white.svg);
	background-position: center center;

	background-repeat: no-repeat;

	animation-name: appear;
	animation-duration: 1s;

	& * {
		display: none !important;
	}
}

@-webkit-keyframes appear {
	from {opacity: 0;}
	to   {opacity: 1;}
}



.done-new {
	//@extend .done-task;
	margin-top: 50px;

	padding: 20px;
	//background-color: rgba(255, 255, 255, 1);
	//box-shadow: 0 2px 4px rgba(80, 80, 80, .2);

	color: #ffffff;

	&_oneline {
		align-items: flex-end;
	}

	input, select, textarea {
		color: $c-main-text;
	}

	width: 100%;

	&__title {
		font-size: 125%;
		display: block;
		margin-bottom: 20px;
	}

	.done-deadline {
		width: 100px;

		input, select {
			width: 100%;
		}
	}

	&__box {
		display: flex;

		&_right {
			flex-direction: row-reverse;
			text-align: right;
		}
	}

	.done-new__field {

		width: 100%;

		height: 100%;
		display: block;
		margin-bottom: 10px;
		margin-right: 10px;
		min-width: 1px;

		opacity: .75;

		transition: .1s opacity ease-in-out;

		&:hover {
			opacity: 1;
		}

		&__new {
			opacity: 1;
		}

		input, textarea {
			width: 100%;
		}

		&__assignee {
			min-width: 160px;
			flex-grow: 2;
			width: 160px;
			opacity: 1;

			select {
				width: 100%;
			}
		}

		&__marker {
			min-width: 200px;
			width: 200px;
		}

		&__deadline {
			min-width: 100px;
			width: 100px;
		}

		&__ticket {
			min-width: 100px;
			width: 100px;
		}

		&__task {
			min-width: 200px;
			width: 200px;
			opacity: 1;
		}

		span {
			display: block;
		}

		&__time, &__tester {
			display: none;
		}

		&__description input {
			position: relative;
		}

		&__task input {
			position: relative;
		}

		input, textarea, select {
			//width: 100%;
			min-height: 40px;
			border: alpha($c-main-separator, 1) 1px solid;
		}

	}
}

.done-user {
	position: relative;
	display: block;
	//padding: 4px 8px;
	line-height: 20px;
	//text-align: center;
	height: 20px;
	//width: 40px;
	//background-color: rgba(100, 140, 240, 1);
	color: $c-main-text;

	border-radius: 4px;
	opacity: 1;
	transition: opacity .1s ease-in-out;

	z-index: 1000;

	&__additional {
		opacity: .5;
	}

	&__creator {
		opacity: .5;
		//font-size: 90%;
		font-weight: 200;
	}

	&__assignee {
		font-size: 160%;
		//font-weight: 600;
	}

	&__at {
		background-color: rgba(255, 204, 102, 1);
		color: black;
	}

	&__ec {
		background-color: rgba(46, 184, 46, 1);
		color: white;
	}

	&__list {
		position: absolute;
		left: 0;
		top: 100%;
		padding: 10px;
		box-shadow: 0 2px 4px rgba(80, 80, 80, .2);
		background-color: white;
		z-index: 1000;
		list-style: none;
		display: none;

		li {
			margin: 5px;
		}
	}

	&:hover {
		opacity: 1;
		cursor: pointer;

		.done-user__list {
			display: block;
		}
	}
}

.done-tags {
	display: inline-flex;
	flex-wrap: wrap;
	padding: 5px 0 10px;


	&__tag {
		background-color: rgba(255, 224, 41, .75);
		padding: 0 8px 0;
		margin-right: 6px;
		border-radius: 4px;
		cursor: pointer;
		position: relative;
		transition: all .25s ease-in-out;
		margin-bottom: 10px;
		height: 30px;
		line-height: 30px;

		&__delete {
			opacity: 0;
			position: absolute;
			width: 12px;
			height: 12px;
			right: -6px;
			top: -6px;
			background-color: #ff0000;
			border-radius: 100%;
			transition: opacity .1s ease-in-out;
			cursor: pointer;
		}

		&:hover {
			background-color: rgba(255, 224, 41, 1);

			.done-tags__tag__delete {
				opacity: 1;
			}
		}
	}

	&__input {

		width: 120px;
		padding: 4px;
		border: alpha($c-main-separator, 1) 1px solid;
		border-right: none;
		height: 30px;
		margin-right: 0;
	}

	&__add {
		//height: 30px;
		//background-color: rgba(100, 140, 240, 1);
		//border-radius: 4px;
		//color: white;
		font-weight: bold;
		cursor: pointer;
		height: 30px;
		//border: none;
	}

	&__form {
		display: flex;
		margin-right: 10px;
	}
}

.done-actions {
	@extend .done-tags;
	justify-content: space-between;
	width: 100%;


	&__action {
		@extend .done-button;
		@extend .done-button._tag;
		//background-color: rgba(100, 140, 240, .25);
		margin-right: 10px;
		margin-bottom: 10px;

	}

}



.done-deadline {
	/*padding: 5px 10px;*/
	/*background-color: rgba(220, 220, 220, 1);*/
	/*border-radius: 4px;*/
	/*cursor: pointer;*/
	/*display: inline-block;*/
	/*margin-top: 10px;*/

	@extend .done-button;
	@extend .done-button._small;

	//width: 100%;
	display: block;
	padding: 0;
	margin-bottom: 10px;


	&__popup {
		padding: 100px;

		&__title {
			display: block;
			color: #ffffff;
			font-size: 180%;
			margin-bottom: 20px;
		}

		input, select {
			width: 300px;
			margin: 0;
			margin-right: 20px;
			border: none;
			vertical-align: top;
		}
	}
}

.done-ticket {
	text-decoration: none;
	transition: all .15s ease-in-out;
	margin-bottom: 5px;

	display: inline-block;

	border-bottom: 1px solid rgba(100, 140, 240, .25);

	&:hover {
		border-bottom: 1px solid rgba(100, 140, 240, .5);
	}


}

.done-priorities {
	//display: flex;
	display: none;
	flex-wrap: wrap;
	margin: 40px 0;
	padding: 0;
	border: 10px solid white;
	justify-content: space-between;

	&__item {
		flex-grow: 1;
		flex-basis: 30%;
		min-width: 240px;
		width: 30%;
		padding: 40px;

		font-size: 22px;
		line-height: 28px;
		font-weight: 100;
		border: 10px solid white;
	}
}

.done-header {
	position: relative;
	margin: 20px auto 10px;
	min-width: 320px;
	max-width: 1600px;
	padding: 0 80px;
	font-size: 150%;
	font-weight: 100;
	min-height: 40px;
	line-height: 40px;
	display: flex;
	font-size: 200%;
	//color: #ffffff;

	font-family: 'Lora', serif;

  	&__inside {
		padding: 0;
		margin-top: 40px;
		margin-bottom: 20px;
		display: block;
		font-size: 150%;
		font-weight: 100;
		//color: #ffffff;
	}



	&>* {
		align-self: center;
	}

	&__logo {
		background-image: url(http://mjolnir.com.ua/svg/mjolnir2.svg);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;

		width: 40px;
		height: 40px;
		margin-right: 20px;
	}

	@media (max-width: 980px) {
		padding: 10px 10px;
  		max-width: 100%;
	}
}

.done-navigation {

	position: relative;
	margin: 20px auto 10px;
	min-width: 320px;
	max-width: 1600px;

	line-height: 32px;

	padding: 10px 0;

	//display: flex;
    display: none;
	justify-content: flex-start;

	@media (max-width: 980px) {
	  flex-wrap: wrap;
	}

	span {
		margin: 0 20px;
		color: alpha($c-main-text, .75);
		height: 32px;
	}

	&__item {
		position: relative;
		display: inline-block;

		box-sizing: content-box;

		border-radius: 4px;
		border: 1px solid transparent;
		/*padding: 0 20px;*/
		//font-weight: 800;
		//width: 100px;
		padding: 0 40px;
		text-align: center;
		background:
		linear-gradient(rgba(250, 250, 250, 1), rgba(255, 255, 255, 1)) padding-box,
		linear-gradient(rgba(255, 255, 255, 1), rgba(250, 250, 250, 1)) border-box,
		$c-main-blue border-box;
		box-shadow:
		0 8px 16px -10px alpha(darken($c-main-blue, 20), .4),
		inset 0 2px 4px rgba(40, 40, 40, .05);

		font-size: 125%;
		height: 30px;
		line-height: 30px;
		text-decoration: none;
		color: alpha($c-main-text, .75);

		outline: none;
		cursor: pointer;

		transition: all .1s ease-in-out;

		margin-right: 35px;

		&:hover {
			box-shadow:
			0 12px 20px -8px alpha(darken($c-main-blue, 20), .25),
			inset 0 2px 4px rgba(40, 40, 40, .05);
		}

		&:hover {
			opacity: 1;
		}

		&_active {
			background-color: rgba(100, 140, 240, 1);
			color: #ffffff;
			font-weight: 800;
			opacity: 1;

			cursor: default;

			background:
			linear-gradient(lighten($c-main-blue, 5), $c-main-blue) padding-box,
			linear-gradient($c-main-blue, lighten($c-main-blue, 5)) border-box,
			$c-main-blue border-box;

			&:hover {
				box-shadow:
				0 8px 16px -10px alpha(darken($c-main-blue, 20), .4),
				inset 0 2px 4px rgba(40, 40, 40, .05);
			}
		}

		&__counter {
			font-size: 10px;
			color: alpha($c-main-text, .50);
			//font-weight: 800;
			position: absolute;
			min-width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 10px;
			top: 4px;
			right: -15px;
			background-color: rgba(250, 250, 250, 1);
			box-shadow:	0 2px 8px -2px alpha(darken($c-main-text, 20), .25);
			text-align: center;
		}

		@media (max-width: 980px) {
	  		margin-right: 10px;
	  		margin-bottom: 10px;
		}
	}
}

.done-login {

	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;

	span {
		font-size: 110%;
		color: #fff;
	}

	&>* {
		flex-basis: 100%;
		display: block;
		margin-bottom: 10px;
	}

	input {
		height: 40px;
		line-height: 40px;
		width: 200px;
		border: alpha($c-main-separator, 1) 1px solid;
	}
}



.done-time {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;

	&__input {
		width: 80px;
		padding: 4px;
		height: 40px;
		border: alpha($c-main-separator, 1) 1px solid;
		border-right: none;
		flex-basis: 70%;

		&:first-child {
			flex-basis: 20%;
		}
	}

	&__button {
	  min-width: 30px;
		flex-basis: 10%;
	}

	&__count {
		font-size: 110%;
		display: block;
		margin-bottom: 20px;
		//font-weight: bold;
	}
}

.done-link {
	//@extend .done-ticket;

	border-bottom: 1px solid rgba(100, 140, 240, .25);

	&:hover {
		border-bottom: 1px solid rgba(100, 140, 240, .5);
	}

	&__popup {
		font-size: 125%;
		border-bottom-style: dashed;
	}

	&_white {
		color: $c-main-text;
	}

	&_onDark {
		color: #ffffff;
	}
}

.done-tutorial {
	position: relative;
	margin: 20px auto;
	min-width: 400px;
	max-width: 1600px;
	padding: 10px 80px;
	font-size: 110%;
	line-height: 1.4em;
	padding: 20px;
	background-color: alpha(#efe24b, .25);
	border-radius: 8px;

	p {
		margin-bottom: 10px;
	}

	ol {
		display: block;
		margin-bottom: 20px;
	}
}

.done-popup {

	max-width: 800px;
	margin: 0 auto;
	padding: 40px 50px;
	//border: 1px dashed #fff;
	box-shadow: 0 2px 4px rgba(80,80,80,.2);
	background-color: rgba(220, 220, 220, 1);
	border-radius: 4px;

	select {
		width: 200px;
		margin: 0 20px 0 0;
		border: none;
		vertical-align: top;
		padding: 4px;
		height: 40px;
		display: inline-block;
	}

	.done-desctiption__change {
		min-width: 400px;
		min-height: 80px;
	}

}

.done-greetings {
	position: absolute;
	margin: 10px auto 20px;
	padding: 10px 80px;
	font-size: 110%;
	top: 0;
	right: 0;
	background-color: #fff;

	@media (max-width: 980px) {
		padding: 10px 10px;
	}
}

.done-comments {

	&__item {
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
		font-size: 90%;
		padding: 2px;

		&_highlight {
			background: yellow;
		}

		&__name {
			display: inline-block;
			margin-right: 4px;
			opacity: .5;
		}

		&__delete {
			display: inline-block;
			margin-left: 20px;
			opacity: .5;
		}
	}
}

.done-screenshots {

	&__item {
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
		font-size: 90%;

		a {
			border-bottom: 1px solid alpha($c-main-text, .25);
			display: inline-block;
			margin-right: 4px;
		}
	}
}

.done-controls {
	display: flex;
	justify-content: space-between;

	&>div {
		width: calc(50% - 10px);
		@media (max-width: 580px) {
			width: 100%;
		}
	}


	&>span {
		display: block;
		font-size: 100%;

		padding: 10px 20px;

		@media (max-width: 980px) {
		  	display: block;
	  		margin-top: 20px;
		}
	}
	@media (max-width: 580px) {
		flex-direction: column;
	}
}

.done-filters {

	display: none;

	&__item {
		margin-bottom: 20px;
		line-height: 30px;
		color: alpha($c-main-text, .75);
		display: inline-block;
		margin-right: 20px;
		position: relative;

		label {
			position: absolute;
			top: -25px;
			left: 10px;
			font-size: 90%;

		}

		input, select {
			box-sizing: content-box;
			border-radius: 4px;
			border: 2px solid transparent;
			background: linear-gradient(#fafafa,#fff)padding-box,linear-gradient(#fff,#fafafa)border-box;
			height: 30px;
			line-height: 30px;
			padding: 5px 5px 5px 5px;
			box-shadow: 0 8px 16px -10px rgba(21,77,217,.4),inset 0 2px 4px rgba(40,40,40,.05);
			min-width: 160px;
		}
	}
}

.ui-datepicker {
	z-index: 10000 !important;
}


.done-statistic {
	@extend .done-task;
	background: transparent;
	box-shadow: none;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	flex-basis: 100%;


	@media (max-width: 800px) {
		padding: 0;
	}

	&__date {
		font-size: 125%;
		font-weight: bold;
		text-align: center;
		padding: 14px;
		opacity: .75;

		//color: #fff;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__block {
		min-width: 320px;
		flex-grow: 1;
		padding 20px;
		//border: 1px solid $c-main-separator;
		background-color: #ffffff;
		box-shadow: 0 2px 2px rgba(80,80,80,.1);
		//box-shadow: 0 8px 16px -10px rgba(21,77,217,.2);
		//background-color: $c-main-separator;
		margin: 10px;
		flex-basis: 100%;

		@media (max-width: 800px) {
			flex-basis: 100%;
			margin: 10px 0;
			min-width: 100%;
		}
	}

	&__user {
		font-size: 125%;
		font-weigth: bold;
	}

	&__summary {
		margin-top: 5px;
		font-size: 110%;
		font-weigth: bold;
		opacity: .75;

		&__line {
			display: none;

			//width: 400px;
			border-radius: 4px;
			overflow: hidden;
			position: relative;
			background-color: $c-main-blue;

			&::before {
				content: '';
				position: absolute;
				top: -2px;
				left: 300px;
				height: 5px;

				//border-right: 1px solid $c-main-text;
			}

			&__inside {
				height: 4px;
				width: 400px;
				background: linear-gradient(to right, #ff3232 1%,#e2dc2d 80%,#7ae284 100%);
			}
		}
	}

	&__item {
		margin-top: 16px;
		padding-bottom: 10px;
		border-bottom: 1px solid $c-main-separator;
		display: flex;

		&>* {
			flex-basis: 0;
			min-width: 1px;
		}

		&__time {
			flex-grow: 4;
		}

		&__ticket {
			flex-grow: 3;
		}

		&__task {
			flex-grow: 6;
		}
	}
}



.done-mainTask{

	& .done-task {
		&__bottom{
			display: flex;
			align-items: flex-start;
			min-width: 340px;

			& *{
				margin: 0;
			}

		}
		&__field {
			&_right {
				&>button{
					@extend .done-task__time__form button;
					height: 40px;
					background: $c-main-blue;
					line-height: 42px;
				}

			}
			&_createTask{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

			}
			&__input{
				padding-left: 5px;
				min-height: 40px;
				border: 1px solid rgba(220,220,220,.5);

				&_task{
					width: 100%;
					border-radius: 4px 0 0 4px;
				}
				&_user{
					outline: none;
					background: $c-main-green;
					color: #fff;
					font-size: 12px;
					padding-left: 20px;
					border: none;
					border-radius: 4px;
					cursor: pointer;
					transition: box-shadow 400ms ease-out;

					&:hover{
						box-shadow: 0 12px 20px -8px rgba(30,89,118,.25), inset 0 2px 4px rgba(40,40,40,.05);
					}

					&:focus, &:focus:hover{
						border-radius: 4px 4px 0 0;
					}

					&>option{
						color: #fff;
					}

					&+span.ui-selectmenu-button.ui-widget{
						height: 40px;
						outline: none;
						background: $c-main-green;
						color: #fff;
						font-size: 12px;
						padding-left: 20px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						transition: box-shadow 400ms ease-out;

						& .ui-selectmenu-text{
							line-height: 40px;
							padding: 0;
						}

						&:hover{
							box-shadow: 0 12px 20px -8px rgba(30,89,118,.25), inset 0 2px 4px rgba(40,40,40,.05);
						}

						&:focus, &:focus:hover{
							border-radius: 4px 4px 0 0;
						}
					}


				}
			}
			&__task {
				flex-basis: 100%;
				&__input{

				}
			}
			&__users {
			}
			&__ticket {
			}
			&__deadline {
			}
			&__description {
			}
			&__annotation {

			}
			&__ticket {
			}
		}
		&__title{
			font-size: 100%;
			padding-bottom: 80px;


		}
		&__name{
			font-weight: 400;
		}
		&__form{

		}
	}

	& .done-user {
		&__creator {
			& .name {
			}
		}
		&__assignee {
			height: auto;
			display: inline-block;
			margin-bottom: 20px;
			margin-right: 20px;
		}
	}
}

.done-fastTask{
	& input{
		@extend .done-mainTask .done-task__field__input;
		width: 100%;
		border-left: none;
	}
	& .done-button{
		@extend .done-mainTask .done-task__field_right>button;
		margin-bottom: 0;
	}

	& .done-task{
		&_form{
			flex-direction: row;
		}
		&__field{
			margin-bottom: 0;
			&:first-of-type{
				&>input{
					border-left: 1px solid rgba(220,220,220,.5);
					border-radius: 4px 0 0 4px;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.done-mainTask{
		& .done-task{
			&__field{
				&_createTask{
					display: flex;
					justify-content: space-between;
				}
			}
		}

		& .done-user{
			&__assignee{
				//margin-bottom: 0;
			}
		}
	}


}

@media (max-width: 550px) {
	.done-fastTask{
		& .done-task{
			&_form{
				flex-wrap: wrap;
			}
			&__field{
				flex-basis: 50%;
				&_right{
					flex-basis: 100%;
					display: flex;
					& button{
						flex-basis: 100%;
						border-radius: 0 0 4px 4px;
					}
				}

				& [name='time']{
					border-radius: 0 4px 0 0;
				}
			}
		}
	}
}

.done-hide{
	display: none;
}

@import 'form.styl';
@import 'navi.styl';

/*style for ie 11*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.done-task__field__time, .done-statistic__field__time {
		min-width: 100%;
	}
}
