.done-ticket {
	text-decoration: none;
	transition: all .15s ease-in-out;
	margin-bottom: 5px;
	display: inline-block;
	border-bottom: 1px solid rgba(100, 140, 240, .25);
	&:hover {
		border-bottom: 1px solid rgba(100, 140, 240, .5);
	}
}
