.done-link {
	border-bottom: 1px solid rgba(100, 140, 240, .25);

	&:hover {
		border-bottom: 1px solid rgba(100, 140, 240, .5);
	}
	&__popup {
		font-size: 125%;
		border-bottom-style: dashed;
	}
	&_white {
		color: $c-main-text;
	}
	&_onDark {
		color: #ffffff;
	}
}