.done-loading {
	min-height: 283px;
	width: 100%;
	background-image: url(../img/loading__white.svg);
	background-position: center center;
	background-repeat: no-repeat;
	animation-name: appear;
	animation-duration: 1s;

	& * {
		display: none !important;
	}
}
