.done-filters {
	display: none;

	&__item {
		margin-bottom: 20px;
		line-height: 30px;
		color: alpha($c-main-text, .75);
		display: inline-block;
		margin-right: 20px;
		position: relative;

		label {
			position: absolute;
			top: -25px;
			left: 10px;
			font-size: 90%;
		}
		input, select {
			box-sizing: content-box;
			border-radius: 4px;
			border: 2px solid transparent;
			background: linear-gradient(#fafafa,#fff)padding-box,linear-gradient(#fff,#fafafa)border-box;
			height: 30px;
			line-height: 30px;
			padding: 5px;
			box-shadow: 0 8px 16px -10px rgba(21,77,217,.4),inset 0 2px 4px rgba(40,40,40,.05);
			min-width: 160px;
		}
	}
}
