.done-login {
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;

	span {
		font-size: 110%;
		color: #fff;
	}
	&>* {
		flex-basis: 100%;
		display: block;
		margin-bottom: 10px;
	}
	input {
		height: 40px;
		line-height: 40px;
		width: 200px;
		border: alpha($c-main-separator, 1) 1px solid;
	}
}

