.done-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 80px;
	max-width: 1600px;
	//добавил для адаптивности границы (новое)
	overflow: hidden;
}

@media (max-width: 800px) {
	.done-wrapper {
		padding: 0 10px;
	}
}