* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	line-height: 15px;
	font-size: 12px;
	background-color: rgba(230,230,230,.20);
	background-image: url("../img/tramp_0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $c-main-text;
	min-width: 320px;
	overflow-y: scroll;
}

a {
	color: $c-main-text;
	text-decoration: none;
}