.done-fastTask{
	& input{
		@extend .done-mainTask .done-task__field__input;
		width: 100%;
		border-left: none;
	}
	& .done-button{
		@extend .done-mainTask .done-task__field_right>button;
		margin-bottom: 0;
	}

	& .done-task{
		&_form{
			flex-direction: row;
		}
		&__field{
			margin-bottom: 0;
			&:first-of-type{
				&>input{
					border-left: 1px solid rgba(220,220,220,.5);
					border-radius: 4px 0 0 4px;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.done-fastTask{
		& .done-task{
			&_form{
				flex-wrap: wrap;
			}
			&__field{
				flex-basis: 50%;
				&_right{
					flex-basis: 100%;
					display: flex;
					& button{
						flex-basis: 100%;
						border-radius: 0 0 4px 4px;
					}
				}

				& [name='time']{
					border-radius: 0 4px 0 0;
				}
			}
		}
	}
}

