.done-comments {

	&__item {
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
		font-size: 90%;
		padding: 2px;

		&_highlight {
			background: yellow;
		}

		&__name {
			display: inline-block;
			margin-right: 4px;
			opacity: .5;
		}

		&__delete {
			display: inline-block;
			margin-left: 20px;
			opacity: .5;
		}
	}
}
