.done-greetings {
	position: absolute;
	margin: 10px auto 20px;
	padding: 10px 80px;
	font-size: 110%;
	top: 0;
	right: 0;
	background-color: #fff;

	@media (max-width: 980px) {
		padding: 10px 10px;
	}
}