.done-statistic {
	@extend .done-task;
	background: transparent;
	box-shadow: none;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	flex-basis: 100%;

	&__date {
		font-size: 125%;
		font-weight: bold;
		text-align: center;
		padding: 14px;
		opacity: .75;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__block {
		min-width: 320px;
		flex-grow: 1;
		padding: 20px;
		background-color: #ffffff;
		box-shadow: 0 2px 2px rgba(80,80,80,.1);
		margin: 10px;
		flex-basis: 100%;
	}

	&__user {
		font-size: 125%;
		font-weight: bold;

	}

	&__summary {
		margin-top: 5px;
		font-size: 110%;
		font-weight: bold;
		opacity: .75;

		&__line {
			display: none;
			border-radius: 4px;
			overflow: hidden;
			position: relative;
			background-color: $c-main-blue;

			&::before {
				content: '';
				position: absolute;
				top: -2px;
				left: 300px;
				height: 5px;
			}

			&__inside {
				height: 4px;
				width: 400px;
				background: linear-gradient(to right, #ff3232 1%,#e2dc2d 80%,#7ae284 100%);
			}
		}
	}

	&__item {
		margin-top: 16px;
		padding-bottom: 10px;
		border-bottom: 1px solid $c-main-separator;
		display: flex;

		&>* {
			flex-basis: 0;
			min-width: 1px;
		}

		&__time {
			flex-grow: 4;
		}

		&__ticket {
			flex-grow: 3;
		}

		&__task {
			flex-grow: 6;
		}
	}
}

@media (max-width: 800px) {
	.done-statistic{
		padding: 0;
		&__block{
			flex-basis: 100%;
			margin: 10px 0;
			min-width: 100%;
		}
	}
}
